#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}



.btn{
  background-color: rgb(65, 65, 219) !important;
  color: white;
  margin: 10px 0;
  width: 30%;
}

.screen{
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;
}

label{
  display: block;
  font-size: larger;
}
input{
  height: 20px;
  padding: 10px;
  background-color: lightgray;
  border: unset;
  border-radius: 10px;
}
input:hover{
  outline: none;
}

.show_data{
  display: flex;
  flex-direction: column;
}

/* .result{
  border-radius: 10px;
  padding: 10px;
  background-color: black;
} */